version: 2
updates:
  - package-ecosystem: "nuget"
    # Files stored in src/Appium.Net directory
    directory: "/src/Appium.Net" 
    schedule:
      interval: "weekly"

  - package-ecosystem: "nuget"
    # Files stored in test/integration directory
    directory: "/test/integration" 
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
      include: "scope"
